---
title: Clients
layout: page_clean
bg: pattern_015
---

<div class="clients visible-lg visible-md">
  {% for client in site.clients reversed %}
  <div class="logo-wrapper">
    <a class="logo" style="background-image:url(/assets/images/clients/{{ client.client }}.png)" href="{{ client.url }}"></a>
  </div>
  {% endfor %}
</div>

<ul class="projects">
{% for client in site.clients reversed %}
  <li class="project{% if forloop.last %} last{% endif %}"><a {% if forloop.last %}class="last" {% endif %}href="{{ client.url }}"><intro>{{ client.introduction }}</intro>
  <br>
  <br>{{ client.title }}<country>{{ client.country }}</country></a></li>
{% endfor %}
</ul>
