---
title: Clients
layout: ly_flex
bg: pattern_015
permalink: /clients/
---

{% for client in site.clients %}
<div class="wrapper entry">
  <div class="container-fluid entry">
    <div class="row">
      <div class="col-sm-7 col-sm-offset-1 content-wrapper">
        <div class="content">

          <h2 class="block">{{ client.title }}</h2>

          <ul class="projects small clean">
          {% for work in site.work reversed %}
          {% if client.client == work.client %}
            <li class="project"><a href="{{ work.url }}"><intro>Open project</intro>
            <br>{{ work.title }}<country>{{ work.client }}</country></a></li>
          {% endif %}
          {% endfor %}
          </ul>

          {% for testimonial in site.testimonials reversed %}
          {% if client.client == testimonial.client %}
            <h3>Testimonial</h3>
            <blockquote>
            <span>{{ testimonial.content }}</span>
            <footer>- {{ testimonial.title }} <cite title="Source Title">{{ testimonial.position }}</cite></footer>
            </blockquote>
          {% endif %}
          {% endfor %}

        </div>
      </div>
      <div class="col-sm-3 col-sm-offset-1 sidebar">

          <p class="title clean">{% unless client.client == "independent" %}Client{% endunless %}</p>

          {% unless client.client == "independent" or client.client == "independent_lisbon" %}<img class="grayscale client-logo" src="/assets/images/clients/{{ client.client }}.png">{% endunless %}

          <p><b>{{ client.title }}</b>
          <br><a href="http://{{ client.web }}" target="_blank">{{ client.web }}</a>
          {% unless client.client == "independent" %}<br>{{ client.city }}, {{ client.country }}{% endunless %}</p>
	  
          <div class="map-static">
            <img class="img-responsive" src="https://api.mapbox.com/styles/v1/mapbox/dark-v8/static/{{ client.map }},6,0/200x100@2x?access_token={{ site.mapbox_token }}&logo=false">
          </div>

          <p>{{ client.introduction }}</p>

      </div>
    </div>
  </div>
</div>
{% endfor %}
