---
title: Blog
layout: page_clean
bg: pattern_018
permalink: /gist/
pagination:
  enabled: true
  collection: gist
  sort_reverse: true
  sort_field: 'date'
---

{% assign all_items = site.dev | concat: site.gist %}
{% assign all_items_sorted = all_items | sort: 'date' | reverse %}

<ul class="projects clean">
  {% for post in all_items_sorted %}
    <li class="project"><a href="{{ post.url }}">
      <span class="hidden-xs">
        {% if post.collection == 'gist' %}
          <intro>Read gist</intro>
        {% else %}
          <intro>Read entry</intro>
        {% endif %}
        <br>
      </span>
      {{ post.title | truncate: 50 }}
      <country>
        {{ post.tags | join: " / " }}
      </country>
    </a></li>
  {% endfor %}
</ul>