---
title: Persian Dictionary
layout: page
bg: mark-asthoff_02
permalink: /persian/dictionary/
---

<p>This is a very early version of a Persian dictionary for beginners.</p>

<div id="dictionary">
  <form>
    <div class="form-group">
      <label>English Word or Phrase:</label>
      <input type="text" v-model="search" class="form-control" placeholder="How are you?">
    </div>
  </form>

  <div v-for="data in filteredItems" v-if="filteredItems.length < 50">
    <p>
      <b>
        <span v-if="data.latin"><% data.latin %></span>
        <span v-else><% data.phonetic %></span>
      </b>
      <br><small><% data.english %></small>
    </p>
  </div>
</div>

<hr>

<p>If you've found a mistake, have a question or would like to contribute, leave a comment.</p>

<div class="talk-comments" id="coral_talk_stream"></div>
