.commentStream {
  -webkit-font-smoothing: antialiased;
  font-family: 'Overpass', sans-serif!important;
  color: #000;
}

.TabBar__base___1au7_ {
  border-bottom: 2px solid #fff!important;
}

.TabBar__base___1au7_ li {
  color: #000!important;
  border: 1px solid #fcfcfc!important;
  border-left: 2px solid #f8f8f8!important;
  background-color: #fff!important;
  border-radius: 0px!important;
}

.embed__stream hr {
  border-bottom: 2px solid #fff!important;
}

.styles__moderationLink___ACixr a {
  color: #ffffff!important;
}

#coralSignInButton {
  background-color: #451668!important;
}

.coral-plugin-infobox-info {
    background: #f8f8f8!important;
    color: #000!important;
    border-radius: 0px!important;
}

.coral-plugin-infobox-info p {
  margin-top: 0px!important;
  margin-bottom: 0px!important;
}

.Button__button___2b6ei {
  background: #451668!important;
  color: #fff!important;
  font-weight: bold!important;
}

.Button__button___2b6ei:disabled {
  background: #c5c5c5!important;
  color: #fff!important;
}

.coral-plugin-commentbox-textarea {
  padding: 6px 12px;
  font-size: 1em;
  font-weight: 700;
  line-height: 1.6em;
  color: #451668;
  background-color: #fff;
  background-image: none;
  border: 0px;
  border-bottom: 2px solid #d8d8d8;
  border-radius: 2px;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.coral-plugin-commentbox-textarea:focus {
  border-color: #000;
  outline: 0;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.02), 0 0 4px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.02), 0 0 4px rgba(0, 0, 0, 0.3);
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

.Tab__buttonSubActive___3zYeu, .Tab__buttonSubActive___3zYeu:focus, .Tab__buttonSubActive___3zYeu:hover {
  border-bottom: 3px solid #441767;
}

.TabCount__rootSubActive___1hOR1 {
  background: #441767;
}

.styles__footer___lXNAw a {
  color: #441767;
}

.Tab__buttonActive___2Tiaz, .Tab__buttonActive___2Tiaz:focus, .Tab__buttonActive___2Tiaz:hover {
  background: #441767;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  color: #fff;
  font-weight: 700;
  border-bottom: none;
}

.Tab__button___25mye {
  background: #f8f8f8;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
