<script src="/assets/js/main.min.js" defer></script>

{% if page.mermaid %}<script src="/assets/js/mermaid.min.js" defer></script>{% endif %}

{% if page.js_assessment %}<script src="/assets/js/iso-assessment.min.js" defer></script>{% endif %}

{% if page.js_training_assessment %}<script src="/assets/js/training-assessment.min.js" defer></script>{% endif %}

{% if page.mastodon_id %}<script src="/assets/js/mastodon-comments.min.js" defer></script>{% endif %}

<!-- Bootstrap offcanvas and jQuery initialization handled in main.js -->
<script type="text/javascript">
  var url = window.location.href;
  var welcomeReferral = document.getElementById('welcome_referral');
  if( welcomeReferral && url.search( 'client_referral' ) > 0 ) {
      welcomeReferral.style.display = "block";
  }
  {% if page.url contains "/contact/" %}
  var internalReferral = document.getElementById('internal_referral');
  if( internalReferral && url.search( 'internal_referral' ) > 0 ) {
      internalReferral.style.display = "block";
  }
  var introduction = document.getElementById('introduction');
  if( introduction && url.search( 'internal_referral' ) > 0 ) {
      introduction.style.display = "none";
  }
  {% endif %}
</script>
{% if page.layout == "index" %}
<script src="/assets/js/mapbox.min.js" defer></script>
{% include fil-map.html map_id="home-map" marker_color="#e2a55f" %}
{% endif %}
{% if page.url == "/about/" %}
<script src="/assets/js/mapbox.min.js" defer></script>
{% include fil-map.html map_id="map" marker_color="#451668" %}
{% endif %}

{% include analytics.html %}