<nav id="menu"{% if page.bg %} class="bg-{{ page.bg }}{% if page.layout == "index" %} index{% endif %}"{% endif %}>
  <header>
    <ul>
      <li class="logo"><a href="/"><img alt="Franz" src=/assets/images/gofranz.svg></a></li>
      <li class="{% if page.url == "/about/" %} active{% endif %}"><a href="/about/">about</a></li>
      <li class="{% if page.url contains "/blog/" %} active{% endif %}"><a href="/blog/">blog</a></li>
      <li class="{% if page.url == "/contact/" %} active{% endif %}"><a href="/contact/">contact</a></li>
    </ul>
  </header>
</nav>
