{% if page.url contains "/client/" %}

  {% if page.client == "independent" %}
  <p class="title">Independent</p>
  <p>
  {% else %}
  <p class="title">Client</p>
  <img class="grayscale client-logo" src="/assets/images/clients/{{ page.client }}.png">
  <p><b>{{ page.title }}</b>
  {% endif %}
  <br><a href="http://{{ page.web }}" target="_blank">{{ page.web }}</a>
  <br>{{ page.city }}, {{ page.country }}</p>
  <div id="map" data-slideout-ignore></div>
  <p>{{ page.introduction }}</p>
  <!--
    <div class="sidebar-nav">
      <p class="title second">Related</p>
      <ul>
      {% for project in site.projects reversed | sort: 'date' %}
        <li><a href="{{ project.url }}">{{ project.client }}</a></li>
      {% endfor %}
      </ul>
    </div>
  -->
{% elsif page.url contains "/contact/" %}
  <p class="title">My Details</p>
  <p><b>Franz Geffke</b>
  <br><a href="mailto:m@f-a.nz">m@f-a.nz</a></p>
  <p>It's <time id="time"></time><weather id="weather"></weather></p>
  <div id="map" data-slideout-ignore></div>

  <div class="sidebar-nav">
    <p class="title second">Notes & Links</p>
    <ul>
      <li><a href="/gpg/">My Public key (GPG)</a></li>
      <li><a href="/persian/dictionary/">Persian Dictionary</a></li>
      <li><a href="/privacy/">Privacy Policy</a></li>
      <li><a href="/dev/">Develoment</a></li>
      <li><a href="https://github.com/franzos/">GitHub</a></li>
    </ul>
  </div>
{% endif %}
