{% if page.layout == "blog" %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": {{ page.title | jsonify }},
  "description": {{ page.description | default: page.excerpt | strip_html | strip_newlines | truncate: 160 | jsonify }},
  "url": "{{ site.url }}{{ page.url }}",
  "datePublished": "{{ page.date | date_to_xmlschema }}",
  "dateModified": "{{ page.updated | default: page.date | date_to_xmlschema }}",
  "author": {
    "@type": "Person",
    "name": "Franz Geffke",
    "url": "{{ site.url }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "Franz Geffke",
    "url": "{{ site.url }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.url }}/assets/images/gofranz_embed.png"
    }
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site.url }}{{ page.url }}"
  },
  "image": "{{ site.url }}{{ site.image }}",
  "articleSection": {{ page.category | first | default: 'Blog' | jsonify }},
  "keywords": {{ page.tags | join: ', ' | jsonify }}
}
</script>
{% endif %}