---
layout: layout
---

<div class="wrapper nav">{% include nav.html %}</div>

<div class="container content-wrapper">
  <div class="row">
    <div class="col-sm-5">
      <h4 class="text-uppercase">Hey there</h4>
      <p>
        I build secure, scalable systems that solve real problems and create value for organizations and their users. Learn more <a href="/about/">about me</a>, or check out my own projects:.
      </p>

      <ul class="tiny">
        <li>
          <a href="https://formshive.com">
            Formshive
            <br/>
            <small>
              Embed and process forms from your website; Pay as you go or self-host from €590/year.
            </small>
          </a>
        </li>
        <li>
          <a href="https://checkoutbay.com">
            Checkoutbay
            <br/>
            <small>
              E-Commerce platform for SMEs and individuals; Pay as you go or self-host from €790/year.
            </small>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-sm-7">
      <h4 class="text-uppercase">Blog</h4>
      <ul class="tiny">
        {% assign all_items = site.dev | concat: site.gist %} 
        {% assign all_items_sorted = all_items | sort: 'date' | reverse %}
        {% for post in all_items_sorted limit:6 %}
        <li>
          <a href="{{ post.url }}">
            {{ post.title | truncate: 60 }}
            <br/><small>{{ post.summary | truncate: 120 }}</small>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <h4 class="text-uppercase">Latest work</h4>
  <div class="row">
    {% assign work = site.work | where:"featured",true | sort: 'date' | reverse
    %} {% for work in work limit:4 %}
    <div class="col-sm-3">
      <a href="{{ work.url }}" class="wrapper">
        <img
          class="img-responsive"
          src="/assets/images/projects/preview/{{ work.cover }}"
        />
        <p class="info">
          <b>{{ work.title }}</b> <br /><small>{{ work.introduction }}</small>
        </p>
      </a>
    </div>
    {% endfor %}
  </div>

  <p>
    <small>
      Timestamp: {{ site.time | date_to_string }};
      <a href="https://github.com/franzos/f-a.nz">Source</a>
    </small>
  </p>

  <a rel="me" href="https://social.tchncs.de/@franzs" hidden>Mastodon</a>
</div>
