---
layout: layout
---

<div class="wrapper page">
  {% include nav.html %}
  <div class="container-fluid hidden-print">
    <div class="row">
      <div class="col-sm-11 col-sm-offset-1">
        {% if page.url contains "work/"%}
        {% for client in site.clients %}
        {% if page.client == client.client %}
        <h1 style="margin-bottom: 1rem;">{{ page.title }}</h1>
        for <a href="{{ client.url }}">{{ client.title }}</a>
        <br>{{ client.city }}, {{ client.country }}
        {% endif %}
        {% endfor %}
        {% else %}
        <h1>{{ page.title }}</h1>
        {% endif %}
      </div>
    </div>
  </div>
  {{ content }}
</div>
