---
layout: ly_page
---

{% if page.url == "/about/" %}
<img class="img-responsive visible-xs" src="/assets/images/bg.jpg" style="margin-bottom:30px;">
{% endif %}

{% include welcome_referral.html %}

<div class="container-fluid content-wrapper">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="content">
        {{ content }}
        {% if page.url contains "work"%}
          {% for client in site.clients %}
          {% if page.client == client.client %}
            <a href="{{ client.url }}"><intro><- return to client profile</a>
          {% endif %}
          {% endfor %}
          <h2 class="block">Other Projects</h2>
          <div class="row">
          {% for project in site.work reversed %}
            <div class="col-sm-4">
              <a href="{{ project.url }}">{{ project.title }}</a>
            </div>
          {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
