---
layout: ly_page
---

<div class="container-fluid content-wrapper">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="content">
        {% include welcome_referral.html %}
        {{ content }}
      </div>
    </div>
  </div>
</div>

{% if page.url contains "/gist/" or page.url contains "/dev/" %}

<div class="container-fluid content-wrapper">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="content">
        <div class="inline-section">
          {% include related.html %}
        </div>
        <div class="inline-section">
          <h2 class="block">Contact the author</h2>
          <div itemscope itemtype="http://schema.org/Person" class="schema">

            <div class="row">
              <div class="col-sm-4">
                <p><a href="/about/" itemprop="author">Franz Geffke</a>
                <br><a href="mailto:m@f-a.nz" itemprop="email">m@f-a.nz</a> (<a href="/gpg/">public key</a>)
                <br><a href="https://twitter.com/f_anzs" itemprop="twitter">on Twitter</a></p>
              </div>
            </div>
            <p>Published on <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%-d %B %Y"}}</time></p>
        </div>
      </div>
      <div class="inline-section">
        <h2 id="comments" class="block">Leave a comment</h2>

        <p class="light">I respect your privacy: Unless you're using Facebook to sign in, no data is exchanged with 3rd party providers. Either way, it'll only take a sec.</p>
        <div class="talk-comments" id="coral_talk_stream"></div>

      </div>
    </div>
  </div>
</div>

{% endif %}
