<!DOCTYPE html>
<html lang="en">

  {% include header.html %}

  <body>
    <div class="container-fluid">
      <div class="content">
        <div class="contact">
            <h2>Franz Geffke</h2>
              <p>Full-Stack Developer / System Architect
              <br>Remote (GMT +1)
              <br><a href="mailto:mail@gofranz.com?subject=Let's work together">mail@gofranz.com</a>
              <br><a href="https://gofranz.com">gofranz.com</a></p>
          </div>
          {{ content }}
        <a class="print" onclick="window.print();">Print this page</a>
      </div>
    </div>

</html>
