@media print
{
  body.bg {
    background-image: none;
  }
  .print {
    display: none;
  }
  h2 {
    margin-top: 1rem;
    margin-bottom: 0rem;
  }
  .resume h3 {
    margin-top: 1rem;
  }
  p {
    line-height: 2rem;
  }
  hr {
    display: none;
  }
}
